html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: #2e2e2e;
}

/********* THEME ROWS ***********/
body tr:nth-child(odd).default{
  background-color: #fff;
}
body tr:nth-child(odd).dark{
  background-color: #fff;
}
body tr:nth-child(odd).ocean{
  background-color: #acecfa;
}
body tr:nth-child(odd).forest{
  background-color: #e3e9be;
}
body tr:nth-child(odd).desert{
  background-color: #EFCDBB;
}

/********* HEADER ***********/
h1{
  display: inline-block;
  padding-top: 10px;
}
.title{
  color: rgb(247, 247, 247);
  text-shadow: 2px 2px 2px#2e2e2e;
}

img{
  display: none;
  vertical-align: middle;
  margin-bottom: 20px;
  max-height: 70px;
}

.defaultV{
  display: inline-block;
}
.darkV{
  display: none;
} 
.oceanV{
  display: none;
} 
.forestV {
  display: none;
}
.desertV{
  display: none;
}

/********* TABLE ***********/
.table {
  border-collapse: collapse;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  margin: auto;
  font-weight: 100;
  font-size: 0.9em;
  width: 98%;
  min-width: 330px;
  text-align: left;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.table thead tr {
  background-color: #2e2e2e;
  color: #fff;
}

.table thead th {
  font-weight: 300;
}

.table th,
.table td {
  padding: 15px;
}

.table tbody tr {
  border-bottom: solid 1px #cccc;
}
.table tbody tr:last-of-type {
  border-bottom: solid 2px #2e2e2e;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.delete{
  cursor: pointer;
}

/********* ADD CONTACT FORM ***********/
.modal {
  position: absolute;
  top: 0;
  min-width: 330px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-form {
  display: block;
  width:auto;
  min-width: 330px;
  height: auto;
  padding-bottom: 15px;
  max-height: 100%;
  background-color: #fff;
  border-radius: 10px;
  overflow: scroll;
  z-index: 1;
}

.modal-head {
  background-color: #2e2e2e;
  padding: 0.5px;
  color: #fff;
}

.fa-user-edit {
  color: #fff;
}

.form-group label {
  padding: 5px;
  display: block;
}

button{
  color: #fff;
  background-color: #2e2e2e;
  border-radius: 5px;
  padding: 10px 24px;
  margin-bottom: 10px;
  cursor: pointer;
}

.modal-button {
  color: #fff;
  background-color: #2e2e2e;
  border-radius: 5px;
  padding: 10px 24px;
  margin-top: 10px;
  cursor: pointer;
  margin-left: 25vw;
  margin-right: 25vw;
}

.close{
  position: relative;
  float: right;
  padding: 10px;
  cursor: pointer;
}

/********* THEME FORM ***********/
.modal-theme {
  position: absolute;
  top: 0;
  min-width: 330px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.theme-form {
  width: 80%;
  min-width: 330px;
  height: 400px;
  max-height: 100%;
  background-color: #fff;
  border-radius: 10px;
  overflow: scroll;
  z-index: 1;
}

.theme-options{
 display: inline-block;
 margin-bottom: 17px;
}

/********* SEARCH BAR ***********/
.search-bar{
  position: relative;
  min-width: 200px;
  padding: 10px 20px 20px 0
}

.search{
  position: relative;
  padding: 5px 0 5px 0;
  text-align: center;
  min-width: 200px;
}

.search-icon{
  position:relative;
  top: 2px;
  left: 25px;
  z-index: 1;
}

/********* ALERTS ***********/

/* Delete Alert */
.delAlert{
  position: absolute;
  overflow: hidden;
  width: 0;
  right: -15px;
  top: 30px;
  background-color: #ffaea8;
  border-radius: 5px;
}

.delAlertMsg{
  width: 200px;
  padding:  20px 10px;
  color: #a80b00;
}

.del-icon{
  position: absolute;
  padding: 20px 10px;
  font-size: 1.5em;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #a80b00;
}

.borderDel{
  display: inline;
  top:0;
  float: left;
  width:15px;
  background-color:  #ff1b0a;
  height: 30px;
  margin: 0;
  padding-bottom: 35px;
}

/* Add Alert */
.addAlert{
  position: absolute;
  overflow: hidden;
  width: 0;
  right: -15px;
  top: 30px;
  background-color: #bdfa9a;
  border-radius: 5px;
}

.addAlertMsg{
  width: 200px;
  padding:  20px 10px;
  color: #1eb101;
}

.add-icon{
  position: absolute;
  padding: 20px 10px;
  font-size: 1.5em;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #1eb101;
}

.borderAdd{
  display: inline;
  top:0;
  float: left;
  width:15px;
  background-color:  #2de907;
  height: 30px;
  margin: 0;
  padding-bottom: 35px;
}

/* Warning Alert */
.warnAlert{
  position: absolute;
  overflow: hidden;
  width: 0;
  right: -15px;
  top: 30px;
  background-color: #ffdb9b;
  border-radius: 5px;
  z-index: 2;
}

.warnAlertMsg{
  width: 250px;
  padding:  20px 10px;
  color: #cc8707;
}

.warn-icon{
  position: absolute;
  padding: 20px 10px;
  font-size: 1.5em;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #da8e03;
}

.borderWarn{
  display: inline;
  top:0;
  float: left;
  width:15px;
  background-color:  #ffaf19;
  height: 30px;
  margin: 0;
  padding-bottom: 35px;
}

.phoneAlert{
  position: absolute;
  overflow: hidden;
  width: 0;
  right: -15px;
  top: 30px;
  background-color: #ffdb9b;
  border-radius: 5px;
  z-index: 2;
}

.nameAlert{
  position: absolute;
  overflow: hidden;
  width: 0;
  right: -15px;
  top: 30px;
  background-color: #ffdb9b;
  border-radius: 5px;
  z-index:2;
}

.addressAlert{
  position: absolute;
  overflow: hidden;
  width: 0;
  right: -15px;
  top: 30px;
  background-color: #ffdb9b;
  border-radius: 5px;
  z-index: 2;
}


.form-control1{
  margin: 10px;
  padding: 5px;
}


@media (max-width: 1200px) {
  .address {
    display: inline-grid;
    grid-template-columns: auto; 
    
  }
}
@media (min-width: 450px) {
  .address {
    display: inline-grid;
    grid-template-columns: auto auto;
  }
}